---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../../layouts/layout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={`${project.data.title} - Christoph Saile`}>
  <main>
    <article class='flex flex-col gap-20'>
      <Image src={project.data.cover} alt='' />
      <div class='flex flex-col gap-y-20'>
        <section class='grid gap-6 md:gap-10'>
          <div class='flex flex-col gap-2' '>
            <h1 class='text-4xl font-bold'>
              <a href={project.data.url}>{project.data.title}</a>
            </h1>
            <span class='text-gray-600'>Created {project.data.year}</span>
          </div>
          <p class='hyphens-auto leading-relaxed'>{project.data.description}</p>
        </section>
        <Content />
      </div>
    </article>
  </main>
</Layout>
