---
import type {
  SpotifyArtists,
  SpotifyTracks,
  TimeRange,
} from '../../libs/spotify';
import RankedItem from './ranked-item.astro';
interface Props {
  tracks?: SpotifyTracks[];
  artists?: SpotifyArtists[];
  timeRange: TimeRange;
  active: boolean;
}

const { tracks, artists, timeRange, active } = Astro.props;
---

<ol
  class:list={[
    'ranked-list grid gap-4 md:grid-flow-col md:grid-cols-2 md:grid-rows-5',
    `${timeRange}`,
    { hidden: !active },
  ]}
>
  {
    tracks?.map((item, index) => (
      <li class='group flex items-center gap-1 rounded-sm border border-black p-3 hover:bg-gray-100 hover:transition-colors lg:p-4'>
        <span class='min-w-7' aria-hidden='true'>
          {index + 1}.
        </span>
        <RankedItem
          title={item.name}
          description={item.artists.map((artist) => artist.name).join(', ')}
          img={item.album.images}
          href={item.external_urls.spotify}
        />
      </li>
    ))
  }
  {
    artists?.map((item, index) => (
      <li class='group flex items-center gap-1 rounded-sm border border-black p-3 hover:bg-gray-100 hover:transition-colors lg:p-4'>
        <span class='min-w-7' aria-hidden='true'>
          {index + 1}.
        </span>
        <RankedItem
          title={item.name}
          description={item.genres.join(', ')}
          img={item.images}
          href={item.external_urls.spotify}
        />
      </li>
    ))
  }
</ol>
