---
import { Image } from 'astro:assets';
import type { SpotifyImage } from '../../libs/spotify';
import vinyl from '../../assets/vinyl.webp';
interface Props {
  title: string;
  description: string;
  img: SpotifyImage[];
  href: string;
}

const { title, description, img, href } = Astro.props;
---

<a class='flex w-full pr-1 text-black lg:pr-2' href={href}>
  <div class='aspect-1 relative z-0 mr-3 w-16 flex-shrink-0 lg:mr-4'>
    <Image
      class='group-hover:transform-vinyl-cover relative right-0 h-16 rounded-sm transition-all duration-300'
      src={img[2].url}
      alt=''
      width={64}
      height={64}
    />
    <img
      class='group-hover:transform-vinyl absolute left-0 top-0 -z-10 transition-all duration-300'
      src={vinyl.src}
      alt=''
      height={64}
      width={64}
    />
  </div>
  <div class='flex flex-col'>
    <p class='font-bold'>{title}</p>
    <p class='break-words text-sm'>{description}</p>
  </div>
  <svg
    aria-hidden='true'
    xmlns='http://www.w3.org/2000/svg'
    fill='none'
    viewBox='0 0 24 24'
    stroke-width='2.5'
    stroke='currentColor'
    class='ml-auto size-4 shrink-0 self-end'
  >
    <path
      stroke-linecap='round'
      stroke-linejoin='round'
      d='m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25'></path>
  </svg>
</a>
