---
import type {
  SpotifyArtists,
  SpotifyTracks,
  TimeRange,
} from '../../libs/spotify';
import RankedItem from './ranked-item.astro';
interface Props {
  tracks?: SpotifyTracks[];
  artists?: SpotifyArtists[];
  timeRange: TimeRange;
  active: boolean;
}

const { tracks, artists, timeRange, active } = Astro.props;
---

<ol
  class:list={[
    'ranked-list grid gap-3 md:grid-cols-2 md:gap-6 list-decimal ',
    `${timeRange}`,
    { hidden: !active },
  ]}
>
  {
    tracks &&
      tracks.map((item) => (
        <li>
          <a>
            <RankedItem
              title={item.name}
              description={item.artists.map((artist) => artist.name).join(', ')}
              img={item.album.images}
            />
          </a>
        </li>
      ))
  }
  {
    artists &&
      artists.map((item) => (
        <li>
          <a>
            <RankedItem
              title={item.name}
              description={item.genres.join(', ')}
              img={item.images}
            />
          </a>
        </li>
      ))
  }
</ol>
