---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../layouts/layout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={`${project.data.title} - Christoph Saile`}>
  <main>
    <article class='flex flex-col gap-20'>
      <Image src={project.data.cover} alt='' />
      <div class='flex flex-col gap-y-20'>
        <section class='grid gap-6 md:gap-10'>
          <div class='flex flex-col gap-2' '>
            <h1>
              <a href={project.data.url}>{project.data.title}</a>
            </h1>
            <span class='text-gray-600'>Created {project.data.year}</span>
          </div>
          <p class='hyphens-auto leading-relaxed'>{project.data.description}</p>
        </section>
        <div class='flex flex-col gap-20'>
          <Content />
        </div>
      </div>
    </article>
  </main>
</Layout>

<style is:global>
  .section {
    @apply grid md:grid-cols-[1fr_3fr];
  }
  .section-text {
    @apply flex flex-col gap-2 hyphens-auto leading-relaxed;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply mb-4 text-2xl font-bold md:mb-0;
  }
  p:has(img) {
    @apply md:col-span-2;
  }
</style>
