---
export const prerender = false;
import { getEntry } from 'astro:content';
import RankedList from '../components/spotify/RankedList.astro';
import Layout from '../layouts/Layout.astro';
import { spotifyPlaylists, spotifyTopArtists, spotifyTopTracks } from '../libs/spotify';
import Playlists from '../components/spotify/Playlists.astro';

const content = await getEntry('spotify', 'content');
const artists = await (await spotifyTopArtists('long_term')).json();
const tracks = await (await spotifyTopTracks('long_term')).json();
const playlists = await (await spotifyPlaylists()).json();
---

<Layout title='Spotify - Christoph Saile'>
  <div>
    <h1>{content.data.title}</h1>
    <p>{content.data.description}</p>
    <section>
      <RankedList artists={artists.items} />
    </section>
    <section>
      <RankedList tracks={tracks.items} />
    </section>
    <section>
      <Playlists playlists={playlists.items} />
    </section>
  </div>
</Layout>
