---
export const prerender = false;
import { getEntry } from 'astro:content';
import RankedList from '../components/spotify/RankedList.astro';
import Layout from '../layouts/Layout.astro';
import { spotifyPlaylists, spotifyTopArtists, spotifyTopTracks } from '../libs/spotify';
import Playlists from '../components/spotify/Playlists.astro';
import TimeFilters from '../components/spotify/TimeFilters.svelte';

const content = await getEntry('spotify', 'content');
const artists = {
  long: await (await spotifyTopArtists('long_term')).json(),
  medium: await (await spotifyTopArtists('medium_term')).json(),
  short: await (await spotifyTopArtists('short_term')).json(),
};
const tracks = {
  long: await (await spotifyTopTracks('long_term')).json(),
  medium: await (await spotifyTopTracks('medium_term')).json(),
  short: await (await spotifyTopTracks('short_term')).json(),
};
const playlists = await (await spotifyPlaylists()).json();
---

<Layout title='Spotify - Christoph Saile'>
  <div>
    <h1>{content.data.title}</h1>
    <p>{content.data.description}</p>
    <section class='ranked-section'>
      <TimeFilters client:only='svelte' title='Top Artists' />
      <RankedList active={true} timeRange='short_term' artists={artists.short.items} />
      <RankedList active={false} timeRange='medium_term' artists={artists.medium.items} />
      <RankedList active={false} timeRange='long_term' artists={artists.long.items} />
    </section>
    <section class='ranked-section'>
      <TimeFilters client:only='svelte' title='Top Tracks' />
      <RankedList active={true} timeRange='short_term' tracks={tracks.short.items} />
      <RankedList active={false} timeRange='medium_term' tracks={tracks.medium.items} />
      <RankedList active={false} timeRange='long_term' tracks={tracks.long.items} />
    </section>
    <section>
      <Playlists playlists={playlists.items} />
    </section>
  </div>
</Layout>
